# Python
__pycache__/
*.py[oc]
.venv/
*.egg-info/
dist/
build/

# Environment variables
.env
.env.*

# Node
node_modules/
.next/
/out/
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
*.pem
npm-debug.log*
